checkpoints/
results/
.idea/
*.tar.gz
*.zip
*.pkl
*.pyc
*.png
*.jpg
*.log
ADEChallengeData2016/
results_firstrun/
results_secondrun/
results_coco/
results/
datasets/
scripts/retrival_results

